div {
    height: 100%;
    overflow: auto;
}

button,input {
    color: black;
}

mat-horizontal-stepper {
    display: inline-block;
    width: fit-content;
}
div > a {
    color: white;
    background-color: #3f51b5;
    margin-left: 10px;
}
.buttonGroup > button {
    margin-left: 5px;
    margin-top: 10px;
}
mat-form-field {
    margin-right: 20px;
}
@media screen and (max-width: 500px) {
    mat-horizontal-stepper {
        display: inline-block;
        width: 100%;
    }
}