.market-details {
    background-color: white;
    height: 100%;
    color: black;
    width: 450px;
    border-radius: 20px;
}

.market-details > img {
    width: 100%;
    height: 200px;
}

.box {
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(107, 106, 106);
    width: 80%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.box * {
    color: yellow;
}
.box h4 {
    color: white;
    font-size: x-large;
}