div {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 5% 95% 0%;
}

header,main {
    grid-column: span 6;
}