div {
    position: relative; 
    height: 100%;
    width: 450px;
    border-radius: 20px;
}

div::before {    
    content: "";
    background-image: url("../../../assets/images/baby-supermarket.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 20px;
    opacity: 0.65;
}

div > h1 {
    position: relative;
    top: 100px;
}
